#sqlite_object_cache_settings > form > table.form-table > tbody > tr > th {
    text-align: right;
}

#sqlite_object_cache_settings > form > table.form-table > tbody > tr > td > input.narrow {
    width: 6em;
}

#sqlite_object_cache_settings table.sql-object-cache-stats {
    border-collapse: collapse;
}

#sqlite_object_cache_settings table.sql-object-cache-stats tr {
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: thin;
    border-right-width: 0;
    border-style: dotted;
}

#sqlite_object_cache_settings table.sql-object-cache-stats > tbody > tr > td.right.total {
    font-weight: bold;
}

#sqlite_object_cache_settings table.sql-object-cache-stats > tbody > tr > td {
    text-align: right;
    padding: 2px;
}

#sqlite_object_cache_settings table.sql-object-cache-stats > thead > tr > th.right,
#sqlite_object_cache_settings table.sql-object-cache-stats > tbody > tr > th {
    text-align: right;
    min-width: 4em;
}
